.legend {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin:0 .5rem;
}

.wind {
    background-color: #1B511F;
}

.solar {
    background-color: #26762C;
}

.hydro {
    background-color: #36A93F;

}

.geothermal {
    background-color: #8CDA93;
}

.biomass {
    background-color: #BBF3C0;
}

.nuclear {
    background-color: #66ACFD;
}

.other {
    background-color: #B2B9BD
}

.oil {
background-color: #8A969D;
}

.gas {
background-color: #6E7B84
}

.coal {
background-color: #525C62
}